.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// fondo del banner principal
  
.banner-principal .tarjeta
  background-image: url("../assets/curso/portada/fondo-banner.png") !important
  background-size: contain
  background-repeat: no-repeat
  background-color: #EFEFEF

.banner-principal p 
  color: #243046
.banner-principal h1
   color: #243046

// titulos del glosario,referencias y complementos.

.banner-interno__titulo h2
  color: #112a48 !important

//sintesis
.color-sena
  border-left-color: #FF6B00 !important

//uso general

.color-gris
  background-color: #EFEFEF !important

// introduccion

.fondo1
  background-image: url("../assets/curso/temas/introduccion/fondo.svg")
  background-repeat: no-repeat
  background-position: top left
  background-color: $color-adicional-1

@media screen and ( max-width: 767px )
  .fondo1
    background-image: none !important

// tema 1

.img-punto
  width: 40%

.img-infografica__item
  width: 14.5%


//tema 2 

